/* Moka Color Palette
.Heavenly-abundance-1-hex { color: #004F00; }
.Heavenly-abundance-2-hex { color: #F8BD35; }
.Heavenly-abundance-3-hex { color: #F29F05; }
.Heavenly-abundance-4-hex { color: #F27405; }
.Heavenly-abundance-5-hex { color: #C02D01; }


.Heavenly-abundance-1-rgba { color: rgba(0, 79, 0, 1); }
.Heavenly-abundance-2-rgba { color: rgba(247, 188, 52, 1); }
.Heavenly-abundance-3-rgba { color: rgba(242, 158, 5, 1); }
.Heavenly-abundance-4-rgba { color: rgba(242, 116, 5, 1); }
.Heavenly-abundance-5-rgba { color: rgba(191, 45, 1, 1); }


.Heavenly-abundance-1-hsla { color: hsla(120, 100, 15, 1); }
.Heavenly-abundance-2-hsla { color: hsla(41, 93, 59, 1); }
.Heavenly-abundance-3-hsla { color: hsla(38, 95, 48, 1); }
.Heavenly-abundance-4-hsla { color: hsla(28, 95, 48, 1); }
.Heavenly-abundance-5-hsla { color: hsla(13, 98, 37, 1); }

*/

*{
	margin: 0;
	padding: 0;
	font-size: 16px;
	box-sizing: border-box;

	/*border: 2px solid;*/
}

body{
	font-family: 'Source San Pro', sans-Serif;
	box-sizing: border-box;
}

nav, h1, h2 {
	font-family: 'Source Serif Pro', serif;
}

nav{
	background-color: #F29F05;
}

section{
	display: inline-block; 
	float left;
}

.header-logo{
  	position: relative;
  	top:8px;
  	left: 2em;
}

.header-search{
	position: relative;
  	bottom:3px;
  	
  	left: 18em;
}

.categories-btn, .header-search-icon{
	color: white;
	display: inline-block;
	position: relative;
  	top:5px;
  	cursor:pointer;
  	transition-duration: 0.5s;
  	padding: 3px;
  	border-radius: 2px;
}

.categories{

}

.categories:hover .categories-btn{
	color:black;
	background-color: white;
}

.categories-dropdown{
	position: absolute;
	display: none;
	width: 33vw;
	grid-template-columns: repeat(3,minmax(0,1fr));
	background-color: white;
	z-index: 2;
	padding: 10px;
	grid-column-gap: 20px;
	border: 1px solid; 
	border-radius: 3px;
	/*margin-top: 10px;*/
	margin-left: -2px;
	transition-duration: 0.5s;
}

.categories:hover .categories-dropdown{
	display: grid;
}

.categories-col{
	display: flex;
	flex-direction: column;
}

.categories-item{
	text-decoration: none;
	font-size: 1.125em;
	margin-top: 5px;
	color: black;
	padding: 2px;
	border-radius: 2px;
}

.categories-item:hover{
	background-color: #c0c0c0;

}



.header-search-bar{
	padding: 0.5em;
	position: relative;
  	bottom:1px;
  	width: 24em;
}

.header-menu{
	float: right;
	margin-right: 20px;
}

ul{
	list-style-type: none;
	padding: 0;
}

li{
	float: left;
}

.header-menu a{
	padding: 0.5em;
	display: block;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
	box-sizing: border-box;
	border: 1px solid #F27405;
	transition-duration: 0.2s;
}

.header-menu a:hover{
	background-color: #F27405;
	color: white;
}

#signin{
	background-color: white;
	color: #F27405;
	transition-duration: 0.2s;
}

#signin:hover{
	background-color: #F27405;
	color: white;
}

/* Main */

.landing-banner{
	width: 100%;
	height: 200px;
	/*object-fit: cover;
	object-position: 0px -200px;*/
	background-image: url("E:\\Businesss\\Manufacturers\\landingpage-background.jpg");
	color: white;
	overflow: hidden;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.overlay{
	position: absolute; /* Sit on top of the page content */
	 /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 200px; /* Full height (cover the whole page) */
	object-fit: cover;
	background-color: rgba(0,0,0,0.1); /* Black background with opacity */
}

.landing-banner h1 {
	font-size: 2em;
	z-index: 1;
}

.recently-added{
	max-width: 1365px;
	padding: 10px 7%;
}

.section-heading{
	font-size: 1.25em;
}

.product-grid{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap:10px; 
	padding: 10px 5px;
}

.product-container{
	border: 1px solid;
	padding: 5px;
}

.product-image{
	max-width: 200px;
	height: 200px;
	object-fit: cover;
	overflow: hidden;
}

.product-title{
	font-size: 1em;
	font-weight: normal;
}

.product-price{
	color: #004F00;
	margin: 3px 0px;
	font-size: 1em;
	font-weight: bolder;
}

.price-per-unit{
	color: #F27405;
	font-size: 0.9em;
	font-weight: normal;
}

.product-address{
	color: darkgrey;
	font-style: normal;
}

.see-more{
	display: table;
	margin: auto;
}
.see-more-products{
	border-radius: 5px;
	/*display: block*/
	padding: 5px 15px;
	font-family: inherit;
	font-weight: bold;
	font-size: 1.25em;
}

.see-more-products-button{
	border-color: #C02D01;
	background-color: white;
	color: black;
	transition-duration: 0.2s;
}

.see-more-products-button:hover{
	border-color: #C02D01;
	background-color: rgba(242, 116, 5, 1);
	color: white;
}

/*How it works \/  */


.how-it-works{
	padding: 10px;
	display: block;
	margin: auto;
}

.how-it-works h1 {
	text-align: center;
	font-size: 2.5em;
	padding: 10px;
	color: #F27405;
}


.how-it-works-grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.how-it-works-step{
	font-size: 1.5em;
	margin: auto;
	text-align: center;
}

.how-it-works-icon{
	padding: 5px;
	color: #004F00;
}

.how-it-works-icon-title{
	padding: 5px;
	font-size: 1.25em;
	color: #F27405;
}

.how-it-works-icon-caption {
	padding: 2px;
	font-size: 0.75em;
	color: #004F00;
}

.how-it-works-byline{
	font-size: 1.75em;
	text-align: center;
	padding: 10px;
	font-style: italic;
	font-weight: normal;
}

.newsletter{
	width: 100%;
	border: 2px solid;
	margin: 0;
	padding:0;

}



.newsletter-heading{
	font-size: 2em;
	background-color: rgba(0,0,0,0.5);
	padding: 0.75em;
}

.newsletter-heading ~ h2{
	font-size: 1.5em;
	background-color: rgba(0,0,0,0.5);
	padding: 0.5em;
}

.newsletter-banner{
	width: 100%;
	height: 300px;
	object-fit: cover;
	/*object-position: 0px -200px;*/
	background-image: url("https://www.pipldelhi.com/wp-content/uploads/2017/12/chandni.jpg");
	color: white;
	overflow: hidden;
	display: flex;
	flex-direction: column;
  	justify-content: center;
  	align-items: center;
}

.newsletter-banner > input[type="email"]{
	padding: 0.5em 0.25em;
	margin-top: 1em;
	width: 30%;
	max-width: 50%;
}


.newsletter-banner > input[type="submit"]{
	padding: 0.125em 0.25em;
	margin-top: 0.25em;
	font-size: 1.25em;
	cursor: pointer;
}


/*FOOTER*/

.footer{
	display: grid;
	padding: 10px 100px;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 20px;
	background-color: #4a4a4a;
	color: #c0c0c0;
}

.footer-heading{
	font-size: 1.5em;
	color: #ececec;
}

.footer-list{
	display: flex;
	flex-direction: column;
	padding: 4px;
}

.footer-list li{
	list-style: none;
}

.footer-list a{
	text-decoration: none;
	color: inherit;
	font-size: 1.25em;
}

.footer-list a:hover{
	color: #ececec;
}

/*.footer-connect{
	display: flex;
	flex-direction: column;
}*/



.connect-list{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	text-align: left;
	padding: 0;
}

.connect-icon{
	display: inline-block;
	color: #c0c0c0;
	cursor: pointer;
	padding: 0;
}

.connect-icon:hover{
	color: #ececec;
}	



.whatsapp-icon, .mail-icon{
	grid-column: 1/6;
}

.whatsapp-icon-text, .email-icon-text{
	font-size: 0.70em;
	vertical-align: middle;
	font-weight: normal;
}


.copy-rights-footer{
	display: block;
	background-color: #383838;
	color: #888888;
	padding: 5px;
}

.copy-rights-footer a{
	color: inherit;
	text-decoration:none;
}

.copy-rights-footer a:hover{
	color: #ececec;
}